* {
    background-color: #0d0b0b;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
}

.halaman {
    margin: 15px 0 15px 0;
}

.judulpage {
    margin: 10px;
    padding: 8px;
}

header a {
    text-decoration: none;
    margin: 10px;
    padding: 8px;
    width: 15%;
    text-align: center;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

body {
    margin: 10px;
    padding: 5px;
}

.halaman {
    margin: 15px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.judul {
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 15px 0 20px 0;
}

.input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    width: 90%;
    height: 30px;
}

.button {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
}
