* {
    background-color: #0d0b0b;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
}

.halaman {
    margin: 15px 0 15px 0;
}
.judulpage {
    margin: 10px;
    padding: 8px;
}

header a {
    text-decoration: none;
    margin: 10px;
    padding: 8px;
    width: 15%;
    text-align: center;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

.judulHome {
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;
}

.tampilancatatan {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.card {
    width: 90%;
    height: 100px;
    margin: 15px 10px;
    background-color: #1b1a1a;
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.judulcatatan {
    background: none;
    color: white;
    margin: 20px;
}
.tanggalcatatan {
    background: none;
    width: 90%;
    color: white;
    margin: 20px;
    font-size: 13px;
    text-align: right;
}
